{% extends 'common.html' %}
{% block main %}
</head>
<body>
<div class="container" style="width:700px">
  <br>
  <ul class="nav justify-content-center">
    <img src="/static/img/logo.png" width="6%" height="6%">&nbsp;&nbsp;&nbsp;
  <li class="nav-item">
    <a class="nav-link" href="/">Home</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about_me">About me</a>
  </li>
  </ul>
  <br>
  <ul class="list-group">
  <li class="list-group-item">简介:</li>
  <li class="list-group-item">Proxy Pool是一个公益性的平台。</li>
  </ul>
  <ul class="list-group">
  <li class="list-group-item">免责:</li>
  <li class="list-group-item">Proxy Pool提供的内容仅用于个人学习、研究或欣赏。我们不保证内容的正确性。通过使用本站内容随之而来的风险与本站无关。访问者可将本网站提供的内容或服务用于个人学习、研究或欣赏，以及其他非商业性或非盈利性用途，但同时应遵守著作权法及其他相关法律的规定，不得侵犯本网站及相关权利人的合法权利。</li>
  </ul>
  <ul class="list-group">
  <li class="list-group-item">反馈:</li>
  <li class="list-group-item">Proxy Pool的内容可能包含不准确性或错误。Proxy Pool不对本网站及其内容的准确性进行保证。如果您发现本站点及其内容包含错误，请联系我们以便这些错误得到及时的更正：kfire@kfire.net</li>
  </ul>
</body>
{% endblock %}
